html {
    height: 100%;
}

body {
    height: 97%;
}

header {
    font-size: 66px;
    padding-left: 100px;
    background-color: slategrey;
    height: 100px;
    border-bottom: 3px solid black;
}

h2{
	margin-top:0;
	margin-bottom:10px;
}

#navbar {
    height: 84.26%;
    width: 100%;
    overflow: auto;
    float: left;
    background-color: gray;
    font-size: 20px;
}

    #navbar nav {
        float: left;
        width: 150px;
        padding: 20px;
    }

    #navbar ul {
        margin-top: 0;
        list-style-type: none;
    }

    #navbar li {
        height: 30px;
    }

hr {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    width: 2px;
    background-color: black;
    height: 99.6%;
}

#content {
    overflow: auto;
    background-color: lightgray;
    float: left;
    font-size: 20px;
    padding: 20px 30px 20px 30px;
    width: 80.945%;
    height: 92%;
}

    #content ul {
        list-style-type: circle;
    }          
	
	#content p {
        margin: 0;
        height: 60%;
        text-align: center;
    }

        #content p img {
            height: 95%;
        }

#btnsdiv {
	text-align:center;
	overflow: auto;
	margin-left: 400px;
}

.pos-message{
	color:green;
	height:100px;
	margin-top:50px
}

.neg-message{
	color:red;
	height:100px;
	margin-top:50px
}

.btns{
	float:left;
	width: 100px;
    height: 20px;
}

.info-window{
	border-width:1px;
	border-style:solid;
	width:400px;
	padding:10px;
	background-color:rgb(236, 231, 229)
}

.img-message{
	float:left; 
	font-size:16px; 
	color:red
}

#message{
	width:200px; 
	height:100px
}

.info-form{
	height:300px
}

.upload-form{
	height:150px
}

.uploads{
	float:left
}

#list{
	float:left
}

.username{
	float:left; 
	width:220px
}

.email{
	float:left;
	margin-left:50px;
	width:220px
}

.del-btn{
	float:left; 
	margin-left:50px
}

#back-btn{
	margin-top:50px
}

#config-form label{
	float:left;
	width:200px;
	font-size:18px
}


